<!DOCTYPE html>
<html>
<head>
  <title>Ombu labs auth</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "ombu_labs/auth/application", media: "all" %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
