<%= form_with(model: estimate, local: true) do |form| %>
  <% if estimate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estimate.errors.count, "error") %> prohibited this estimate from being saved:</h2>

      <ul>
      <% estimate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :best_case_points %>
    <%= form.number_field :best_case_points, id: :estimate_best_case_points %>
  </div>

  <div class="field">
    <%= form.label :worst_case_points %>
    <%= form.number_field :worst_case_points, id: :estimate_worst_case_points %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :estimate_user_id %>
  </div>

  <div class="field">
    <%= form.label :story_id %>
    <%= form.number_field :story_id, id: :estimate_story_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
