<%= form_for([@project, @story, @estimate]) do |f| %>
  <% if @estimate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estimate.errors.count, "error") %> prohibited this estimate from being saved:</h2>

      <ul>
      <% @estimate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Best Case Estimate (hours)" %>
    <%= f.number_field :best_case_points, class: "project_story_title" %>
  </div>

  <div class="field">
    <%= f.label "Worst Case Estimate (hours)" %>
    <%= f.number_field :worst_case_points, class: "project_story_title" %>
  </div>

  <%= f.hidden_field :story_id, value: @estimate.story_id %>

  <div class="actions">
    <%= f.submit yield(:button_text), id: "create_button" %>
  </div>
<% end %>
