<%= form_for [@project, @story, @estimate] do |f| %>
  <% if @estimate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estimate.errors.count, "error") %> prohibited this estimate from being saved:</h2>

      <ul>
      <% @estimate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="estimate_wrapper">
    <div class="field" id="first">
      <%= f.label "Best Case Estimate (hours)" %>
      <%= f.number_field :best_case_points, class: "estimate" %>
    </div>

    <div class="field" id="second">
      <%= f.label "Worst Case Estimate (hours)" %>
      <%= f.number_field :worst_case_points, class: "estimate" %>
    </div>
  </div>

  <%= f.hidden_field :story_id, value: params[:story_id] %>

  <div class="actions">
    <%= f.submit yield(:button_text), class: "btn btn-lg btn-primary", id: "edit" %>
  </div>
<% end %>
