<p id="notice"><%= notice %></p>

<h1>Estimates</h1>

<table>
  <thead>
    <tr>
      <th>Best case points</th>
      <th>Worst case points</th>
      <th>User</th>
      <th>Story</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estimates.each do |estimate| %>
      <tr>
        <td><%= estimate.best_case_points %></td>
        <td><%= estimate.worst_case_points %></td>
        <td><%= estimate.user_id %></td>
        <td><%= estimate.story_id %></td>
        <td><%= link_to 'Show', estimate %></td>
        <td><%= link_to 'Edit', edit_estimate_path(estimate) %></td>
        <td><%= link_to 'Destroy', estimate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estimate', new_estimate_path %>
