<p id="notice"><%= notice %></p>

<p>
  <strong>Best case points:</strong>
  <%= @estimate.best_case_points %>
</p>

<p>
  <strong>Worst case points:</strong>
  <%= @estimate.worst_case_points %>
</p>

<p>
  <strong>User:</strong>
  <%= @estimate.user_id %>
</p>

<p>
  <strong>Story:</strong>
  <%= @estimate.story_id %>
</p>

<%= link_to 'Edit', edit_estimate_path(@estimate) %> |
<%= link_to 'Back', estimates_path %>
