<div class="comment-card">
  <p class="bold"><%= comment.user.name %>: <%= markdown(comment.body) %> <%= comment.created_at %><p>
  <% if current_user == comment.user %>
    <%= link_to "Edit Comment", edit_project_story_comment_path(project.id, story.id, comment.id), class: "link-blue" %> |
    <%= link_to "Delete", project_story_comment_path(project.id, story.id, comment.id), method: :delete, data: { confirm: "Are you sure?", comment_id: comment.id }, remote: true , title: "Delete" %>
  <% end %>
</div>