<div class="field">
  <%= form.label :technology %>
  <%= form.text_field :technology, placeholder: "Technology" %>
</div>

<div class="field">
  <%= form.label :initial_version %>
  <%= form.text_field :initial_version, placeholder: "Initial Version" %>
</div>

<div class="field">
  <%= form.label :target_version %>
  <%= form.text_field :target_version, placeholder: "Target Version" %>
</div>