<div class="container">
  <h2>Clone project <%= @original.title %></h2>

  <%= form_for @original, url: clone_project_path(@original), method: :post do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Project Title", class: "project-story-title" %>
    </div>

    <div class="btn-group">
      <%= f.submit "Clone", class: "button" %>
      <%= link_to 'Back', project_path(@original.id), id:"back", class: "button" %>
    </div>
  <% end %>
</div>