<h1 class="dashboard-title"><%= @project.title %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="col-title" id="wide">Story Title</th>
      <th scope="col" class="col-title">Best Estimate</th>
      <th scope="col" class="col-title">Worst Estimate</th>
      <th scope="col" class="col-title"> </th>
      <th scope="col" class="col-title"> </th>
      <th scope="col" class="col-title"> </th>
    </tr>
  </thead>

  <tbody id="stories" data-url="<%= sort_project_path(@project.id) %>">
    <% @stories.each do | story | %>
      <tr id="<%= dom_id(story)%>" >
        <td id="wide"><%= link_to story.title, [story.project, story] %></td>
        <td><%= story.estimates.where(user: current_user)&.first&.best_case_points %></td>
        <td><%= story.estimates.where(user: current_user)&.first&.worst_case_points %></td>
        <td><%= link_to 'Edit', edit_project_story_path(@project.id, story), class: "btn btn-lg btn-primary", id: "edit" %></td>
        <% if estimated(story) %>
          <td><%= link_to 'Edit Estimate', edit_project_story_estimate_path(@project.id, story, @estimate_id), class: "btn btn-lg btn-primary", id: "edit" %></td>
        <% else %>
          <td><%= link_to 'Add Estimate', new_project_story_estimate_path(@project.id, story), class: "btn btn-lg btn-primary", id: "edit" %></td>
        <% end %>
        <td><%= link_to 'Delete', project_story_path(@project.id, story), method: "delete",  data: { confirm: 'Are you sure?' }, class: "btn btn-lg btn-primary", id: "edit" %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td id="wide"></td>
      <td class="totals" id="best"><%= @project.best_estimate_sum_per_user(current_user) %></td>
      <td class="totals" id="worst"><%= @project.worst_estimate_sum_per_user(current_user) %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>

<nav class="wrapper actions">
  <%= link_to "Add a Story", new_project_story_path(@project.id) %>
  <%= link_to "Edit or Delete Project", edit_project_path(@project.id) %>
  <% if current_user.admin? %>
    <%= link_to "View Report", project_report_path(@project.id) %>
  <% end %>
</nav>

<hr>
</br>

<%= link_to 'Return to Projects Page', projects_path, id:"back" %>
