<div class="container">
  <div class="header">
    <h1 class="dashboard-title"><%= render partial: "shared/project_title", locals: {allow_edit: true, project: @project} %></h1>

    <div class="search-field">
      <%= label_tag 'title_contains', "Filter by title" %>
      <%= search_field_tag 'title_contains', nil, onkeyup: "filterStories()" %>
    </div>
  </div>

  <div class="row project-details">
    <div class="col-xs-<%= @sidebar_projects.any? ? 10 : 12 %>">
      <table class="project-table">
        <thead class="table-header fixed-header">
          <tr class="project-table__row project-table__row--header">
            <th class="project-table__cell">Story Title</th>
            <th class="project-table__cell">Best<br />Estimate</th>
            <th class="project-table__cell">Worst<br />Estimate</th>
            <th class="project-table__cell story_actions">
              <%= link_unless_archived(@project, "Add a Story", new_project_story_path(@project), classes: "magenta") if is_unlocked?(@project) %>
              <button id="bulk_delete" class="button magenta" aria-disabled="true" disabled>Bulk Delete</button>
            </th>
          </tr>
        </thead>
        <tbody id="stories" data-url="<%= sort_stories_project_path(@project.id) %>" data-unlocked="<%= is_unlocked?(@project) %>">
          <% if @stories.present? %>
            <% @stories.each do | story | %>
              <tr class="project-table__row project-table__row--story" id="<%= dom_id(story)%>" >
                <td class="project-table__cell">
                  <input type="checkbox" name="stories[]" value="<%= story.id %>">
                  <%= link_to story.title, [story.project, story] %>
                  <button class="copy-link btn-clipboard" data-clipboard-text="<%= project_story_url(@project, story) %>" title='Copy story'><i class="fa fa-link"></i><span class= "popup">Copied to clipboard</span></button>
                </td>
                <td class="project-table__cell"><%= story.estimate_for(current_user)&.best_case_points %></td>
                <td class="project-table__cell"><%= story.estimate_for(current_user)&.worst_case_points %></td>
                <td class="project-table__cell story_actions">
                <% if is_unlocked?(@project) %>
                  <% if estimated(story) %>
                    <%= link_unless_archived(@project, "Edit Estimate", edit_project_story_estimate_path(@project.id, story, @estimate_id), classes: "edit-estimate", remote: true) %>
                  <% else %>
                    <%= link_unless_archived(@project, "Add Estimate", new_project_story_estimate_path(@project.id, story), classes: "add-estimate", remote: true) %>
                  <% end %>

                  <div class="dropdown-wrapper more-actions">
                    <button class="button" title="More actions">
                      <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown">
                      <%= link_unless_archived(@project, "Edit", edit_project_story_path(@project, story), classes: "edit", icon: 'pencil-square-o') %>

                      <% if @siblings.any? %>
                        <div class="dropdown-wrapper move-story">
                          <button title="Move to">
                            <i class="fa fa-share-square-o"></i>
                            <span>Move to</span>
                          </button>
                          <div class="dropdown">
                            <% @siblings.each do |to_project| %>
                              <%= button_to to_project.title, project_story_move_path(@project, story, to_project: to_project), method: :put, data: {confirm: "Are you sure?"} %>
                            <% end %>
                          </div>
                        </div>
                      <% end %>

                      <%= link_unless_archived(@project, "Delete", project_story_path(@project.id, story), classes: "delete", icon: 'trash-o', method: :delete, remote: true, data_attr: { confirm: 'Are you sure?', story_id: story.id }) %>

                      <% link_to new_project_story_path(@project.id, story_id: story.id), class: "clone", title: "Clone" do %>
                        <i class="fa fa-files-o"></i>
                        <span>Clone</span>
                      <% end %>

                      <%= link_unless_archived(@project, "Clone", new_project_story_path(@project.id, story_id: story.id), classes: "clone", icon: 'files-o') %>
                    </div>
                  </div>
                <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <p> You don't have any stories yet. </p>
          <% end %>
        </tbody>
        <tfoot>
          <tr class="project-table__row project-table__row--footer">
            <td class="project-table__cell">Total estimates</td>
            <td class="project-table__cell"><%= @project.best_estimate_sum_per_user(current_user) %></td>
            <td class="project-table__cell"><%= @project.worst_estimate_sum_per_user(current_user) %></td>
            <td class="project-table__cell"></td>
          </tr>
        </tfoot>
      </table>
    </div>

    <% if @sidebar_projects.any? %>
      <aside class="col-xs-2 hierarchy">
        <%= render partial: "hierarchy", locals: {project: @project, sub_projects: @sidebar_projects} %>
      </aside>
    <% end %>
  </div>

  <%= render partial: "projects/import_export" if is_unlocked?(@project) %>

  <div class="btn-group actions">

    <% if current_user.admin? %>
      <%= button_to is_unlocked?(@project) ? 'Lock Project' : 'Unlock Project', toggle_locked_project_path(@project.id), method: :patch, class: "button magenta ", id: "lock-btn", remote: true %>
    <% end %>

    <% if is_unlocked?(@project) %>
      <%= link_unless_archived(@project, "Delete Project", project_path(@project.id), classes: "delete", method: :delete, remote: true, data_attr: { confirm: 'Are you sure?' }, id: "delete")%>

      <%= link_unless_archived(@project, "Add Sub-Project", project_new_sub_project_path(@project), classes: :magenta) unless @project.parent_id.present? %>
    <% end %>

    <%= link_to 'Clone Project', new_clone_project_path(@project.id), class: "button magenta" %>
    <% unless @project.parent_id %>
      <%= link_to "#{@project.archived? ? 'Unarchive' : 'Archive'} Project", toggle_archive_project_path(@project.id), method: "patch", id: "toggle_archive", class: "button magenta", remote: true %>
    <% end %>
    <%= link_to "Generate Action Plan", project_action_plan_path(@project.id), class: "button" %>
    <%= link_to "View Report", project_report_path(@project.id), class: "button" if current_user.admin? %>
    <%= link_to 'Return to Projects Page', projects_path, id:"back", class: "button" %>
  </div>
</div>
