<h1 class="dashboard-title"><%= @project.title %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="col-title">Story Title</th>
      <th scope="col" class="col-title">Best Estimate</th>
      <th scope="col" class="col-title">Worst Estimate</th>
      <th scope="col" class="col-title"> </th>
      <th scope="col" class="col-title"> </th>
      <th scope="col" class="col-title"> </th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do | story | %>
      <tr>
        <td><%= link_to story.title, [story.project, story] %></td>
        <td><%= story.estimates.where(user: current_user)&.first&.best_case_points %></td>
        <td><%= story.estimates.where(user: current_user)&.first&.worst_case_points %></td>
        <td><%= link_to 'Edit', edit_project_story_path(@project.id, story), class: "btn btn-lg btn-primary", id: "edit" %></td>
        <% if estimated(story) %>
          <td><%= link_to 'Edit Estimate', edit_project_story_estimate_path(@project.id, story, @estimate_id), class: "btn btn-lg btn-primary", id: "edit" %></td>
        <% else %>
          <td><%= link_to 'Add Estimate', new_project_story_estimate_path(@project.id, story), class: "btn btn-lg btn-primary", id: "edit" %></td>
        <% end %>
        <td><%= link_to 'Delete', project_story_path(@project.id, story), method: "delete",  data: { confirm: 'Are you sure?' }, class: "btn btn-lg btn-primary", id: "edit" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="wrapper">
  <%= link_to "Add a Story", new_project_story_path(@project.id), class: "btn btn-lg btn-primary", id: "create-button" %>
  <%= link_to "Edit or Delete Project", edit_project_path(@project.id), class: "btn btn-lg btn-primary", id: "create-button"%>
</div>

<%= link_to 'Return to Projects Page', projects_path, id:"back" %>
