<%= form_for([@project, @story]) do |f| %>
  
  <%= 
    custom_text_field(f, :title, @story.errors[:title], 
    {div_class: 'field story_title', field_class: 'project-story-title', placeholder: "Story Title"}) 
  %>

  <%= 
    custom_textarea_field(f, :description, @story.errors[:description], 
    {div_class: 'field story_description', field_class: 'story-description', placeholder: "Description", label: "Description (Markdown)", rows: 20 }) 
  %>

  <%= f.hidden_field :project_id, value: params[:project_id] %>

  <div class="story_preview">
    <label>Description Preview</label>
    <div class="content"><%= markdown(@story.description) %></div>
  </div>

  <div class="btn-group">
    <%= f.submit yield(:button_text), class: "button", id: "edit" %>
  </div>
<% end %>
