<%= form_for([@project, @story]) do |f| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :project_id, value: params[:project_id] %>

  <div class="field story_title">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Story Title", class: "project-story-title", autofocus: true %>
  </div>

  <div class="field story_description">
    <%= f.label :description, "Description (Markdown)" %>
    <%= f.text_area :description, placeholder: "Description", class: "story-description", rows: 20, 'data-has-preview': true, 'data-preview-target': 'story_preview' %>
  </div>

  <div class="story_preview">
    <label>Description Preview</label>
    <div class="content"><%= markdown(@story.description) %></div>
  </div>

  <div class="field story_extra_info">
    <%= f.label :extra_info, "Extra Info (Markdown - for context only, not added to action plan)" %>
    <%= f.text_area :extra_info, placeholder: "Extra Indo", class: "story-extra-info", rows: 20, 'data-has-preview': true, 'data-preview-target': 'extra_info_preview' %>
  </div>

  <div class="extra_info_preview">
    <label>Extra Info Preview</label>
    <div class="content"><%= markdown(@story.extra_info) %></div>
  </div>


  <div class="btn-group">
    <%= f.submit yield(:button_text), class: "button green", id: "edit" %>
  </div>
<% end %>
