<div class="container">
  <h1 class="dashboard-title"><%= render "shared/project_title", project: @project %></h1>

  <%= render "shared/story", story: @story %>

  <div class="btn-group">
    <% if is_unlocked?(@project) %>
      <%= link_unless_archived(@project, "Edit", edit_project_story_path(@project), classes: "magenta", id: "back") %>
      <%= link_to "Delete", project_story_path(@project.id, @story), method: :delete, data: { confirm: "Are you sure?", story_id: @story.id }, class: "button red", remote: true , title: "Delete" %>
    <% end %>
    <%= link_to 'Back', project_path(@project), id:"back", class: "button" %>
  </div>
</div>
