<div class="container">
  <h1 class="dashboard-title"><%= render "shared/project_title", project: @project %></h1>
  <button class="btn btn-clipboard" data-clipboard-target="#action-plan-content">Copy to clipboard</button>

  <div id="action-plan">
    <h2>Action Plan</h2>

    <label for="action-plan-prefix">
      Enter Prefix
      <input id="action-plan-prefix" name="action-plan-prefix" type="text">
    </label>

    <div id="action-plan-content">
      <% idx = 0 %>
      <% @project_stories.each do |story| %>
        <% idx += 1 %>
        <h3 class="action-plan_heading"><span class="index" data-idx="<%= idx %>."></span><%= story.title %></h3>
        <%= markdown(story.description) %>
      <% end %>

      <% @children.each do |child| %>
        <% idx += 1 %>
        <h3 class="action-plan_heading"><span class="index" data-idx="<%= idx %>."></span><%= child.title %></h3>

        <% child.stories.each_with_index do |story, idx2| %>
          <h4 class="action-plan_heading"><span class="index" data-idx="<%= idx %>.<%= idx2+1 %>."></span><%= story.title %></h4>
          <%= markdown(story.description) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="btn-group">
    <%= link_to 'Back', project_path(@project), id:"back", class: "button" %>
  </div>
</div>
