<!DOCTYPE html>
<html>
  <head>
    <title>Points</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  </head>
  <body class="content">
    <%= render 'layouts/header' %>
    <div class="container">
      <% if flash[:success] %>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <div class="push"></div>
    <%= render 'layouts/footer' %>
  </body>
</html>
